:root {
    --dark-gray: rgba(49,52,61);
    --teal: rgba(149, 202, 204);
    --subtitle: rgba(62, 90, 115);
}

body {
    font-family: 'Lucida Sans', 'Century Gothic', 'Lucida Sans', 'Arial', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex; 
    flex-direction: row;
    background-color: var(--dark-gray);
    padding: 14px 5% 14px 0;
    justify-content: space-between;
    align-items: center;
}

h1 {
    background-color: var(--teal);
    color: var(--dark-gray);
    font-size: 40px; 
    padding: 5px 4px 5px 10%; 
}

nav ul {
    display: flex;
    text-decoration: none;
    color: var(--teal);
}

nav ul li {
    display: flex;
    flex-direction: row;
    padding: 5px 10px 5px 10px;
    color: var(--teal);
    font-size: 22px;
}

main {
    margin: 20px 10% 10px 10%;
}

section {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

h2 {
    color: var(--subtitle);
    font-size: 40px;
    text-align: right;
    border-right: 5px solid var(--subtitle);
    padding-right: 15px;
    flex: 0 0 25%;
}

section p,
section ul, 
section div {
    flex: 0 0 70%;
}

section div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.first-app,
.other-apps {
    margin: 5px;
}

.first-app {
    background-color: blue;
    flex-basis: 100%
}

.other-apps {
    background-color: red;
    flex-basis: calc(50% - 10px);
}

a, a:link, a:visited, a:focus, a:hover, a:active{
    
    text-decoration:none;
    color: inherit;
}
