:root {
    --dark-gray: rgba(49,52,61);
    --teal: rgba(149, 202, 204);
    --subtitle: rgba(113, 140, 163);
}

body {
    font-family: 'Lucida Sans', 'Century Gothic', 'Lucida Sans', 'Arial', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex; 
    flex-direction: row;
    background-color: var(--dark-gray);
    padding: 14px 5% 14px 0;
    justify-content: space-between;
    align-items: center;
}

h1 {
    background-color: var(--teal);
    color: var(--dark-gray);
    font-size: 40px; 
    padding: 5px 4px 5px 10%; 
}

nav ul {
    display: flex;
    text-decoration: none;
    color: var(--teal);
}

nav ul li {
    display: flex;
    flex-direction: row;
    padding: 5px 10px 5px 10px;
    color: var(--teal);
    font-size: 22px;
}

#first-link::before {
    content: "";
    position: relative;
    width: 40px;
    height: 40px;
    left: -20px;
    top: -8px;
    background: url(../images/avatar.webp);
    background-size: 40px 40px;
}

.hero-banner {
    background: var(--subtitle);
    background-image: url(../images/black-and-white.jpeg);
    background-blend-mode: color-burn;
    min-height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: right;
}

#subtitle {
    flex: 0 0 80%;
    width: 100%;
    padding: 2%;
    text-align: right;
}

#subtitle h2 {
    background: var(--teal);
    display: inline;
}


main {
    margin: 20px 10% 10px 10%;
}

section {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 8px 0;
}

main h2 {
    color: var(--subtitle);
    font-size: 40px;
    text-align: right;
    border-right: 5px solid var(--subtitle);
    padding-right: 15px;
    flex: 0 0 20%;
}

.hero-banner h2 {
    color: var(--subtitle);
    font-size: 40px;
    text-align: right;
    flex: 0 0 20%;
}

section p,
#work-projects,
#contacts {
    flex: 0 0 75%;
}

#work-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#work-projects div {
    flex: display;
    background: var(--teal);
    color: black;
}

#work-projects a {
    border: 5px solid var(--teal);
}

.first-app,
.other-apps {
    margin: 5px;
}

.first-app {
    background-image: url(../images/surf.jpeg);
    background-size: 100%;
    background-repeat: repeat no-repeat;
    flex-basis: 100%;
    min-height: 35vh;
}

.other-apps {
    flex-basis: calc(50% - 10px);
}

.LED {
    background-image: url(../images/led.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 20vh;
}

.calculator {
    background-image: url(../images/calculator.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 20vh;
}

.puzzle {
    background-image: url(../images/puzzle.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 20vh;
}

.buddy {
    background-image: url(../images/running.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 20vh;
}


address {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-style: normal;
    height: 100%
}

a, a:link, a:visited, a:focus, a:hover, a:active{
    
    text-decoration:none;
    color: inherit;
}

